<footer>
    <div class="fullinfo">
        <div class="social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
       <div class="company-name"> &copy;Wanderlust Private Limited </div>
       <div  class="link-info">
        <a href="/Privacy">Privacy</a>
        <a href="/terms">Terms</a>
       </div>
    </div>
</footer>
