<% layout("/layouts/boilerplate") %>
  <h1 class="err-head">Error</h1>
  <div class="row col-6  mt-3 ">
<div class="alert alert-danger col-6 offset-3"  role="alert"> 
    <p class="alert-heading"><%= message %></p>
</div>
